<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper footer-custom">
    <div class="footer-links-block">
      <h3>Сообщество курса</h3>
      <ul class="footer-links-list">
        <li><a href="https://t.me/ecology_R">Telegram-канал</a></li>
        <li><a href="https://t.me/ecology_R_chat">Telegram-чат</a></li>
        <li><a href="https://github.com/Hedgenious">Профиль преподавателя на GitHub</a></li>
      </ul>
    </div>

    <div class="footer-support-block">
      <p>
        Курс поддержан
        <a href="https://zool.kz/">Институтом зоологии РК, Алматы</a>.
      </p>
    </div>
  </div>
</footer>
